{% extends "registration/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
{% if validlink %}
<h1>Set a new password!</h1>
<form method="post">
    <div class="content">
        <div class="input-field">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
    </div>
    <div class="action">
        <input type="submit" value="Change my password">
    </div>
</form>
{% else %}
<form method="post">
    <div class="content">
        <div class="input-field">
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
    </div>
</form>
{% endblock %}