html {
  background-color: #1a1a1a;
}

body {
  color:#bfcad0;
  background-color: #2e303e;
  border-radius: 10px;
  height: 100%;
  width: 1400px;
  top: 36%;
  left: 50%;
  margin-left: -700px;
  margin-top: -350px;
  border: 1px solid #bfcad0;
  border-radius: 10px;
  box-shadow: 3px 3px black;
  position: fixed;
}

.header {
  overflow: hidden;
  background-color: #970c10;
  padding: 20px 10px;
  border-bottom: 2px solid #bfcad0;
  border-radius: 4px;
}
  
  .header a {
    float: right;
    color: #bfcad0;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 5px;
    border-radius: 4px;
    background-color: #ce3e4383;
  }

  .header p {
    font-family: 'Lucida Sans';
    font-size: 22px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    color: #bfcad0
  }
  
  .header a:hover {
    background-color: #3e3e3e;
  }

  .header img {
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    border: 1px solid #333333;
  }

.container {
  position: fixed;
  width: 1200px;
  height: 50px;
  float: left;

}

.w3-sidebar.w3-bar-block.w3-light-grey.w3-card {
  width: 200px;
  height: 100%;
  margin-top: 0px;
  padding-top: 5px;
  border-radius: 2px;
  background-color: rgb(218, 230, 236) !important;
  margin-left: -15px;
}

.sidebar {
  width: 200px;
  float: left;
}

#app {
  float: left;
  height: 400px;
  width: 844px;
  margin-top: 20px;
  margin-left: 210px;

}

#updates {
  float: right;
  width: 300px;
  padding-top: 20px;
  padding-left: 10px;
  margin-right: -270px !important;
  height: 1000px;
}

.vertical-line {
  border-left: 1px solid #bfcad0;
  height: 10000px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 12px;
  filter: blur(1px);
}