@import url(https://fonts.googleapis.com/css?family=Lato:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000;
  font-family: 'Lato';
}

.login-form {
  background: #e7e4e4;
  width: 30vw;
  padding: 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  margin-top: 25vh;
  margin-left: 25vw;
}

h1 {
  color: #000;
}

label {
  color: #000;
}

.login-form button {
  font-family: "Lato", sans-serif;
  outline: 0;
  background: #970c10;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #bfcad0;
  font-size: 16px !important;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover {
  background: #ce3e43;
}

.content a:hover {
  background: #ce3e43;
}

#servers a:hover {
  background: none;
}

#forgot {
  font-family: "Lato", sans-serif;
  outline: 0;
  background: #970c10;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #bfcad0;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 3%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

#forgot:hover {
  background: #ce3e43;
}

#hr {
  border-top: 1px solid #292333 !important;
  filter: blur(1px);
  width: 75%;
  margin-left: 12.5%;
}

#new-users {
  color: #000;
  text-align: center;
}

  #new-users a {
    color: #970c10;
    text-decoration: underline;
  }

li {
  color: #414141;
  list-style-type: none;
  font-size: 12px;
}

input {
  font-family: "Lato", sans-serif;
  outline: 0;
  background: #bfcad0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

span {
  color: #414141;
  font-size: 12px;
}

.action input {
  background-color: #970c10;
  color: #bfcad0;
}

#delete {
  margin-top: 5px;
  background: #111111;
}

#delete:hover {
  background: #313131;
}

#id_game {
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: #bfcad0;
  -webkit-appearance: none;
  width: 100%;
  padding: 15px;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 98% 50%;
  padding-right: 40px;
  background-color: #bfcad0;
}

#id_game select:focus {
    outline: none;
}

#id_game select {
	direction: rtl;
	padding: 2px 2px 2px 25px;
	background-position: left center;
}

#divider {
  filter: blur(1px);
  border-top: 1px solid #111111;
}

#no-files {
  color: #111111;
}

@media only screen
  and (min-width: 320px)
  and (max-device-width: 480px) 
  and (orientation: portrait) {
  .header {
    height: 8vh;
  }
  
    .header-right {
      margin-right: 1%;
      margin-top: 0%;
      float: right;
    }
    
    .header a {
      float: right;
      margin-top: 1%;
      font-size: 1.8vh;
      line-height: 5px;
    }
  
    .header p {
      font-size: 42px;
      float: left;
      margin-top: 5px;
      margin-left: 2%;
    }
    
    .header a:hover {
      background-color: #3e3e3e;
    }
  
    .header img {
      border-radius: 50%;
      float: left;
      margin-left: 0%;
      border: 1px solid #333333;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  
    #welcome {
      float: right;
    }
  
  body {
    height: 93%;
    width: 100%;
    left: 72%;
    bottom: 0px;
    margin-left: -72%;
    position: fixed;
    border-radius: 3px;
  }
  
  .container-custom {
    width: 99%;
    height: 98%;
    margin-top: -0%;
    display: inline-block;
    overflow: hidden;
  }
  
  .w3-sidebar.w3-bar-block.w3-light-grey.w3-card {
    width: 15%;
    padding-top: 20vh;
    font-size: 1.5vh;
  }
  
  #links {
    margin-top: 200%;
    font-size: 18px;
  }
  
  #copyright {
    font-size: 12px;
    margin-left: 15%;
    margin-top: 30%;
  }
  
  .sidebar {
    width: 15%;
    float: left;
    overflow: hidden;
  }
  
  #social-feed {
    font-size: 2vh;
  }

  #app {
    float: left;
    height: 100%;
    width: 60%;
    margin-top: 1%;
    margin-left: 15%;
    margin-bottom: 30%;
    padding-bottom: 1%;
    overflow: auto;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 40px;
    z-index: 6;
  }
  
  #social-hr {
    border: none;
  }
  
  #updates {
    height: 65%;
    padding-top: 10px;
  }
  
  .postbox {
    width: 24%;
    height: 50%;
    position: absolute;
  }
  
  .postbox input {
    border-radius: 8px;
  }
  
}
