html {
  background-color: #1a1a1a;  background: 
    linear-gradient(-45deg, #00000000 0, #00000000 75%, #1a1a1a 75%, #1a1a1a 100%), 
    linear-gradient(45deg, #1a1a1a 0, #1a1a1a 25%, #8c8c8c00 25%, #eeeeee00 100%), 
    linear-gradient(-45deg, #1a1a1a 0, #1a1a1a 25%, #00000000 25%, #00000000 100%), 
    linear-gradient(45deg, #00000000 0, #00000000 75%, #1a1a1a 75%, #1a1a1a 100%), #1d1d1d;
  background-position: 50% 50%;
  background-size: 75px 75px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: 12%;
  overflow: hidden;
  background-color: #970c10;
  padding: 20px 10px;
  border-radius: 6px;
  position: fixed;
  z-index: 5;
}

  .header-right {
    margin-right: 13%;
  }
  
  .header a {
    float: right;
    color: #bfcad0;
    text-align: center;
    padding: 15px;
    margin-top: 1.5%;
    text-decoration: none;
    font-size: 24px;
    line-height: 5px;
    border-radius: 4px;
  }

  .header p {
    font-family: 'Lucida Sans';
    font-size: 50px;
    float: left;
    margin-top: 5px;
    margin-left: 15%;
    color: #bfcad0
  }
  
  .header a:hover {
    background-color: #3e3e3e;
  }

  #welcome {
    margin-top: 1.2%;
    margin-right: 20px;
    font-size: 24px;
    float: right;
  }

body {
  color: #bfcad0;
  background-color: #292333;
  height: 90%;
  width: 75%;
  top: 48%;
  left: 50%;
  bottom: 0px;
  margin-left: -707px;
  margin-top: -18%;
  -moz-box-shadow: 0 0 10px 15px #111111;
  -webkit-box-shadow: 0 0 10px 15px #111111;
  box-shadow: 0 0 115px 115px #111111;
  position: fixed;

  border-radius: 3px;
}

.container-custom {
  width: 99%;
  height: 98%;
  display: inline-block;
  overflow: hidden;
}

.w3-sidebar.w3-bar-block.w3-light-grey.w3-card {
  width: 10%;
  height: 100%;
  padding-top: 1%;
  margin-top: 0%;
  background-color: rgb(218, 230, 236) !important;
  box-shadow: 3px 3px rgb(17, 17, 17);
  overflow: hidden;
  font-size: 20px;
}

#links {
  margin-top: 250%;
}

#servers a:hover {
  background: none;
}

#copyright {
  font-size: 12px;
  margin-left: 10%;
  margin-top: 30%;
}

.sidebar {
  width: 15%;
  float: left;
  overflow: hidden;
}

#app {
  float: left;
  height: 100%;
  width: 60%;
  margin-top: 1.5%;
  margin-left: 15%;
  margin-bottom: 30%;
  padding-bottom: 2%;
  overflow: auto;
  padding-right: 15px;
}

#updates {
  float: right;
  width: 23%;
  padding-left: 10px;
  height: 57%;
  margin-top: -1%;
  overflow: auto;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  background: #1d1824;
  border-radius: 8px;
  border: 1px solid #3e354d;
}

#social-feed {
  text-indent: 6.5%;
  margin-left: 6.5%;
  padding-top: 20px;
}

#social-hr {
  color:#bfcad0;
  filter: blur(1px);
  margin-left: 2%;
}

.vertical-line {
  border-left: 1px solid #bfcad0;
  height: 85%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 12px;
  filter: blur(1px);
  position: fixed;
}

.postbox {
  width: 24%;
  height: 50%;
  margin-left: 76.3%;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 33.5%;
  position: absolute;
  color: #bfcad0;
}

  .postbox h5 {
    margin-top: -1%;
  }

  .postbox hr {
    margin-right: 4%;
    color:#bfcad0;
    filter: blur(1px);
  }

  .postbox button {
    font-family: "Lato", sans-serif;
    outline: 0;
    background: #970c10;
    width: 96.5%;
    border: 0;
    padding: 15px;
    color: #bfcad0;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 3%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .postbox button:hover {
    background-color: #ce3e43;
  }

  .postbox input {
    width: 82%;
    background-color: #1d1824;
    border-radius: 3px;
    border: 1px solid #bfcad0;
    border-right: none;
    border-left: none;
    color: #bfcad0;
  }

  .postbox textarea {
    resize: none;
    border-radius: 3px;
    width: 97%;
    border: 1px solid #bfcad0;
    border-right: none;
    border-left: none;
    background-color: #1d1824;
    color: #bfcad0;
  }

  .delete {
    color: #0000EE;
  }

h4 {
  text-align: center;
  margin-top: 25%;
}

#special-login {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

/*
Mobile Portrait CSS
*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: landscape) {
  .header {
    height: 27%;
    overflow: hidden;
    position: fixed;
  }
  
    .header-right {
      margin-right: 1%;
      margin-top: 0%;
      float: right;
    }
    
    .header a {
      float: right;
      padding: 15px;
      margin-top: 10%;
      margin-right: 10px;
      font-size: 22px;
      line-height: 5px;
      position: relative;
    }
  
    .header p {
      font-size: 42px;
      float: left;
      margin-left: 2%;
    }
    
    .header a:hover {
      background-color: #3e3e3e;
    }
  
    .header img {
      margin-left: 0%;
    }
  
    #welcome {
      margin-top: -1.5%;
      margin-left: 75%;
      font-size: 22px;
      position: absolute;
    }

    body {
      height: 100%;
      width: 100%;
      top: 70%;
      left: 72%;
      bottom: 0px;
      margin-left: -72%;
      margin-top: -20%;
    }

    .w3-sidebar.w3-bar-block.w3-light-grey.w3-card {
      width: 15%;
      height: 100%;
      padding-top: 3%;
      margin-top: 0%;
      overflow: hidden;
      font-size: 20px;
    }

    #app {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 10%;
    }

    #social-feed {
      text-indent: 4%;
      margin-left: 4%;
      margin-top: 1%;
    }
    
    #social-hr {
      border: none;
    }

    #updates {
      padding-top: 20px;
      height: 25%;
    }

    .postbox {
      margin-top: 10%;
    }

      .postbox button {
        margin-left: -1%;
      }

    #links {
      margin-top: 0%;
    }

    #links img {
      height: 15px;
      width: 15px;
    }

    .postbox input {
      border-radius: 8px;
      width: 76%;
    }

    .postbox textarea {
      resize: none;
      border-radius: 8px;
      width: 97%;
      height: 20%;
    }

    .postbox button {
      margin-left: 15%;
    }
}

@media only screen
  and (min-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {
  .header {
    height: 11%;
  }
  
    .header-right {
      margin-right: 1%;
      margin-top: 0%;
      float: right;
    }
    
    .header a {
      float: right;
      padding: 30px;
      margin-top: 1%;
      margin-right: 10px;
      font-size: 38px;
      line-height: 5px;
    }
  
    .header p {
      font-size: 42px;
      float: left;
      margin-top: 5px;
      margin-left: 2%;
    }
    
    .header a:hover {
      background-color: #3e3e3e;
    }
  
    .header img {
      border-radius: 50%;
      float: left;
      margin-left: 0%;
      border: 1px solid #333333;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  
    #welcome {
      margin-top: 1%;
      margin-left: 60%;
      font-size: 38px;
      position: absolute;
    }
  
  body {
    height: 91%;
    width: 100%;
    top: 22%;
    left: 72%;
    bottom: 0px;
    margin-left: -72%;
    margin-top: -22%;
    position: fixed;
    border-radius: 3px;
  }
  
  .container-custom {
    width: 99%;
    height: 98%;
    display: inline-block;
    overflow: hidden;
  }
  
  .w3-sidebar.w3-bar-block.w3-light-grey.w3-card {
    width: 15%;
    height: 100%;
    padding-top: 40px;
    margin-top: 0%;
    overflow: hidden;
    font-size: 22px;
  }
  
  #links {
    margin-top: 200%;
    font-size: 18px;
  }
  
  #copyright {
    font-size: 12px;
    margin-left: 15%;
    margin-top: 30%;
  }
  
  .sidebar {
    width: 15%;
    float: left;
    overflow: hidden;
  }
  
  #app {
    float: left;
    height: 100%;
    width: 60%;
    margin-top: 1%;
    margin-left: 15%;
    margin-bottom: 30%;
    padding-bottom: 1%;
    overflow: auto;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 40px;
    z-index: 6;
  }

  #social-feed {
    text-indent: 4%;
    margin-left: 4%;
    margin-top: 5%;
  }
  
  #social-hr {
    border: none;
  }
  
  #updates {
    width: 23%;
    height: 65%;
    padding-top: 20px;
  }
  
  .postbox {
    width: 24%;
    height: 50%;
    margin-left: 76.3%;
    margin-top: 100%;
    position: absolute;
  }
  
  .postbox input {
    border-radius: 8px;
    width: 75%;
  }
  
}

