body {
    color:#bfcad0;
    border-radius: 10px;
    height: 70%;
    width: 67%;
    position: absolute;
    top: 49%;
    left: 50%;
    margin-left: -33%;
    margin-top: -25%;
}

.header {
    overflow: hidden;
    background-color: #970c10;
    padding: 20px 10px;
    border-radius: 8px;
  }
  
  .header a {
    float: right;
    color: #bfcad0;
    text-align: center;
    padding: 3%;
    text-decoration: none;
    font-size: 18px;
    line-height: 5px;
    /*border-radius: 4px;*/
    background-color: #ce3e4383;
  }
  
  .header a:hover {
    background-color: #3e3e3e;
  }

  .header img {
      border-radius: 50%;
      float: left;
  }


.container-fluid {
    color: white;
    margin: auto;
    display: flex;
}

    .container-fluid img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        flex-basis: 200px;
    }

    .sidebar-nav {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        flex-basis: 200px;
        width: 200px;
    }


