.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 95% !important;
    height: auto !important;
    float: left;
    padding-bottom: 15px;
}

#resume hr {
    filter:blur(1px);
}

#resume-link {
    font-family: "Lato", sans-serif;
    outline: 0;
    background: #970c10;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #bfcad0;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    display: flex;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 9;
    position: relative;
}

    #resume-link:hover {
        background: #ce3e43;
    }

#resume-pdf {
    width: 55%;
    float: left;
    z-index: -1;
}

#endorsements {
    width: 45%;
    float: right;
    font-size: 14px;
}

#resume-header {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -1%;
}

#endorsements-header {
    text-align: center;
    margin-top: -9%;
}

#resume-header {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .react-pdf__Page__canvas {
        margin: 0 auto;
        width: 100% !important;
        height: auto !important;
        float: left;
    }

    #resume p {
        font-size: 22px;
    }
    
    #resume hr {
        filter:blur(1px);
    }
    
    #resume-link {
        font-family: "Lato", sans-serif;
        outline: 0;
        background: #970c10;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #bfcad0;
        font-size: 15px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        display: flex;
        text-align: center;
        text-decoration: none;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    #resume-link:hover {
        background: #ce3e43;
    }
    
    #resume-pdf {
        width: 99%;
        float: left;
    }
    
    #endorsements {
        width: 99%;
        margin-top: 15%;
        float: right;
    }
    
    #resume-header {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #endorsements-header {
        text-align: center;
        margin-top: -8%;
    }
    
    #resume-header {
        text-align: center;
    }
}