.react-pdf__Page__canvas {
    margin: 0 auto;
    height: 85% !important;
    width: auto !important;
}

#endorsements {
    margin: 5%;
}

#resume-header {
    margin-left: 5%;
    margin-right: 5%;
}

#endorsements-header {
    text-align: center;
    margin-top: -8%;
}